## Final Project - NYC Citywide Payroll Data

### Meaghan Burke - Data 608

#### Data Source: https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e

### MAy 11th 2019

### Data Cleaning 
Steps:
1. Read in the raw_csv from the NYC Open Data website (download via link above)
2. Use script (view link below to access ipybn file) that does the following transformations:

    - Filtered for 'MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', & 'RICHMOND' boroughs

    - Filtered for full time, active employees 

    - Filtered for full year salaried employees

    - Removed null job titles

    - Removed 2014 as it is incomplete 

    - Converted all string values to uppercase & removed whitespace 

    - output the data to filtered_nyc_payset.csv. This is the base dataset for the dash application

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [35]:
# all the filtering and data cleaning 
#filter for only per annum jobs, active employees and titles that are not null 
#del the original for memory purposes
borough_keep = ['MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', 'RICHMOND']
pay_dataset =  pd.read_csv("Citywide_Payroll_Data__Fiscal_Year_.csv", low_memory = False)
pay_dataset['Total Pay'] = pay_dataset[['Regular Gross Paid', 'Total OT Paid', 'Total Other Pay']].sum(axis =1 )
pay_dataset = pay_dataset.applymap(lambda s:s.upper().strip() if type(s) == str else s)
filtered_pay= pay_dataset[(pay_dataset['Pay Basis'] == 'PER ANNUM') & 
                          (pay_dataset['Leave Status as of June 30'] == 'ACTIVE') &
                          (~pay_dataset['Title Description'].isnull()) &
                          (pay_dataset['Fiscal Year'] != 2014) &
                          (pay_dataset['Work Location Borough'].isin(borough_keep))]

filtered_pay.loc[filtered_pay['Work Location Borough'].isnull(), 'Work Location Borough'] = 'UNKNOWN'
del(pay_dataset)

In [ ]:
#recreate a employee id as the Payroll Number has too many NAS, checked unqiue counts and the combination of the below columns is unqiue to each employee
#https://stackoverflow.com/questions/48008334/anonymize-specific-columns-with-pii-in-pandas-dataframe-python anonymize 
cols = ['Agency Name', 'Last Name', 'First Name', 'Mid Init', 'Agency Start Date', 'Pay Basis']
filtered_pay['Employee_Id'] = filtered_pay[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1).astype('category').cat.codes
filtered_pay.drop(['Last Name', 'Payroll Number', 'First Name', 'Mid Init', 'Leave Status as of June 30'], axis = 1, inplace = True)

In [ ]:
#this dataset will be used to source the dash application
filtered_pay.to_csv("filtered_nyc_payset.csv")

### Data EDA

In [87]:
filtered_pay.shape

(1113051, 14)

In [39]:
#display the unique descriptive information as a table in the dash application
unique_values = filtered_pay.groupby(['Fiscal Year']).nunique()

decribe_table = filtered_pay.describe()

unique_values

,Fiscal Year,Agency Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay,Employee_Id
Fiscal Year,,,,,,,,,,,,,,
2015,1,144,10448,5,1204,23503,1,11195,142723,25454,113948,110680,224996,264153
2016,1,144,10583,5,1206,23997,1,11749,129511,26704,114971,115618,213897,274049
2017,1,147,10685,5,1218,24413,1,13528,131364,25970,118924,116986,221903,285158
2018,1,148,10753,5,1236,23458,1,12790,131422,25127,119840,111806,227269,289435

In [40]:
decribe_table

,Fiscal Year,Base Salary,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay,Employee_Id
count,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06
mean,2.016539e+03,6.936683e+04,1.128044e+03,6.684768e+04,1.059016e+02,5.790611e+03,3.732348e+03,7.637063e+04,1.832218e+05
std,1.115090e+00,2.716810e+04,9.422682e+02,2.906734e+04,1.862982e+02,1.113222e+04,6.205931e+03,3.632575e+04,1.041699e+05
min,2.015000e+03,1.000000e+00,-2.352500e+02,-1.871000e+02,-2.500000e+00,-2.649388e+04,-2.058165e+05,-2.422635e+04,0.000000e+00
25%,2.016000e+03,4.652000e+04,0.000000e+00,4.392921e+04,0.000000e+00,0.000000e+00,0.000000e+00,4.999988e+04,9.315900e+04
50%,2.017000e+03,6.800000e+04,1.790000e+03,6.519698e+04,0.000000e+00,0.000000e+00,4.448300e+02,7.164806e+04,1.829610e+05
75%,2.018000e+03,8.529200e+04,2.045720e+03,8.538705e+04,1.590000e+02,6.858325e+03,5.215790e+03,9.696892e+04,2.739740e+05
max,2.018000e+03,3.500000e+05,4.060920e+03,6.723089e+05,2.736670e+03,1.612902e+05,9.596096e+04,6.727313e+05,3.614010e+05

In [88]:
calcs = {'Work Location Borough': ['nunique'],'Employee_Id':['nunique'], 'Title Description':['nunique'],
        'Regular Hours': ['sum'],'Regular Gross Paid':['mean'], 'OT Hours':['sum'],'Total OT Paid' :['mean'],'Total Other Pay':['mean'],
        'Total Pay':['mean']}
consolidated_table = filtered_pay.groupby(['Agency Name']).agg(calcs).reset_index()
consolidated_table.columns = consolidated_table.columns.droplevel(-1)
consolidated_table = consolidated_table.sort_values('Title Description', ascending = False)

In [89]:
consolidated_table

,Agency Name,Work Location Borough,Employee_Id,Title Description,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay
70,DEPT OF HEALTH/MENTAL HYGIENE,5,6914,235,3.230388e+07,64074.741693,847082.26,1729.778457,2913.226616,68717.746766
120,POLICE DEPARTMENT,5,60824,235,3.913410e+08,70105.736092,47006951.94,13994.899833,9941.527080,94042.163005
110,NYC HOUSING AUTHORITY,5,10468,229,6.012044e+07,51306.009575,4201271.50,4482.342293,2040.936163,57829.288030
87,HRA/DEPT OF SOCIAL SERVICES,5,16289,185,9.058471e+07,51452.903157,3312592.25,2341.872774,3294.944208,57089.720138
60,DEPARTMENT OF EDUCATION ADMIN,5,14387,177,7.213618e+07,61702.686352,939122.96,1006.395935,2622.814544,65331.896831
69,DEPT OF ENVIRONMENT PROTECTION,5,4188,176,2.167631e+07,68638.323299,1463655.12,5400.133725,3035.329032,77073.786057
65,DEPARTMENT OF TRANSPORTATION,5,4604,167,2.436512e+07,63319.861456,2818752.97,10521.695843,3100.640023,76942.197322
84,FIRE DEPARTMENT,5,19905,152,1.302760e+08,72725.740803,21249128.98,20047.755669,9344.450146,102117.946618
0,ADMIN FOR CHILDREN'S SVCS,5,8464,145,4.140603e+07,59669.705000,3772626.62,6580.698694,2923.869115,69174.272809
59,DEPARTMENT OF CORRECTION,4,15307,140,8.269249e+07,64327.443459,15791479.34,20055.616780,7349.075491,91732.135730
66,DEPT OF CITYWIDE ADMIN SVCS,5,2411,140,1.216392e+07,55288.823312,1260590.97,5639.660316,1666.276348,62594.759977
72,DEPT OF PARKS & RECREATION,5,4866,130,2.725031e+07,56670.562989,1052177.65,2986.969132,3487.847103,63145.379225
64,DEPARTMENT OF SANITATION,5,10278,122,7.044873e+07,66996.974436,9117677.48,13767.852803,11111.474022,91876.301261
86,HOUSING PRESERVATION & DVLPMNT,5,2965,115,1.500794e+07,61759.136344,192961.23,1016.578806,2806.494184,65582.209334
75,DEPT. OF DESIGN & CONSTRUCTION,2,1800,107,8.796525e+06,73928.666375,198371.30,1986.347241,2922.373947,78837.387564
76,DEPT. OF HOMELESS SERVICES,4,3337,97,1.442274e+07,48178.533387,1125978.12,4671.092442,3214.813220,56064.439049
61,DEPARTMENT OF FINANCE,5,2366,96,1.290477e+07,68907.164424,213957.54,1515.839712,3423.258360,73846.262495
56,DEPARTMENT OF BUILDINGS,5,1977,94,9.269260e+06,66961.007300,606887.22,5528.343257,1838.148994,74327.499551
118,OFFICE OF THE COMPTROLLER,1,1004,93,4.958908e+06,77535.751734,27972.86,406.809492,2445.222166,80387.783392
71,DEPT OF INFO TECH & TELECOMM,3,1992,85,9.125395e+06,76382.245762,107455.17,959.770063,2082.744696,79424.760521
49,COMMUNITY COLLEGE (MANHATTAN),2,1783,76,5.377277e+06,67530.086393,127617.19,673.610569,641.416583,68845.113544
45,COMMUNITY COLLEGE (BRONX),3,1214,70,3.953127e+06,66988.841517,70128.55,660.071028,670.814401,68319.726947
92,LAW DEPARTMENT,5,2061,67,9.981016e+06,73627.352858,136570.00,815.716852,1413.847493,75856.917203
50,COMMUNITY COLLEGE (QUEENSBORO),2,1224,63,4.221280e+06,71617.672350,107671.62,837.959599,590.139390,73045.771340
47,COMMUNITY COLLEGE (KINGSBORO),1,1175,63,4.242309e+06,68974.813056,49268.75,435.893738,709.755792,70120.462585
48,COMMUNITY COLLEGE (LAGUARDIA),3,1593,60,5.281391e+06,70491.116666,90019.38,636.465859,680.085160,71807.667685
46,COMMUNITY COLLEGE (HOSTOS),1,961,59,2.840650e+06,66105.114161,68834.45,863.980779,669.215142,67638.310082
58,DEPARTMENT OF CITY PLANNING,5,413,55,1.829270e+06,72948.058706,4098.75,155.139477,1811.640110,74914.838294
52,CONSUMER AFFAIRS,1,588,55,2.463581e+06,55042.011045,30152.75,752.491119,1027.808607,56822.310770
146,TAXI & LIMOUSINE COMMISSION,3,774,54,3.504591e+06,50697.413982,126028.80,2011.923438,3298.247795,56007.585214
...,...,...,...,...,...,...,...,...,...,...
35,BROOKLYN COMMUNITY BOARD #6,1,5,3,2.008300e+04,60486.840000,0.00,0.000000,271.235833,60758.075833
36,BROOKLYN COMMUNITY BOARD #7,1,3,3,2.181900e+04,68301.299167,0.00,0.000000,907.384167,69208.683333
34,BROOKLYN COMMUNITY BOARD #5,1,5,3,1.513775e+04,48336.754000,0.00,0.000000,318.593000,48655.347000
93,MANHATTAN COMMUNITY BOARD #1,2,5,3,2.056050e+04,64431.325833,0.00,0.000000,844.927500,65276.253333
132,QUEENS COMMUNITY BOARD #13,1,5,3,1.651628e+04,63701.256000,0.00,0.000000,283.218000,63984.474000
99,MANHATTAN COMMUNITY BOARD #4,1,4,3,1.779500e+04,54222.984167,0.00,0.000000,331.384167,54554.368333
100,MANHATTAN COMMUNITY BOARD #5,1,4,3,1.819000e+04,72622.672000,0.00,0.000000,305.775000,72928.447000
142,STATEN ISLAND COMMUNITY BD #1,1,4,3,2.046000e+04,62195.975000,0.00,0.000000,675.759167,62871.734167
103,MANHATTAN COMMUNITY BOARD #8,1,6,3,1.949388e+04,43830.335833,0.00,0.000000,349.833333,44180.169167
104,MANHATTAN COMMUNITY BOARD #9,1,2,3,1.454000e+04,64093.130000,0.00,0.000000,683.435000,64776.565000
140,QUEENS COMMUNITY BOARD #8,1,4,3,1.995850e+04,59191.636364,0.00,0.000000,191.170000,59382.806364
138,QUEENS COMMUNITY BOARD #6,1,2,2,1.454000e+04,79234.495000,0.00,0.000000,331.857500,79566.352500
144,STATEN ISLAND COMMUNITY BD #3,1,4,2,2.152500e+04,68851.424167,0.00,0.000000,694.978333,69546.402500
133,QUEENS COMMUNITY BOARD #14,1,2,2,1.454000e+04,95026.407500,0.00,0.000000,1016.760000,96043.167500
137,QUEENS COMMUNITY BOARD #5,1,2,2,1.454000e+04,70003.493750,0.00,0.000000,734.272500,70737.766250
10,BRONX COMMUNITY BOARD #11,1,3,2,1.272400e+04,63334.131429,0.00,0.000000,315.574286,63649.705714
130,QUEENS COMMUNITY BOARD #11,1,3,2,1.442000e+04,74984.152500,0.00,0.000000,1547.803750,76531.956250
129,QUEENS COMMUNITY BOARD #10,1,3,2,2.181000e+04,59991.585000,0.00,0.000000,360.518333,60352.103333
28,BROOKLYN COMMUNITY BOARD #16,1,2,2,1.454000e+04,73831.571250,0.00,0.000000,358.960000,74190.531250
24,BROOKLYN COMMUNITY BOARD #12,1,3,2,2.002000e+04,58725.818182,0.00,0.000000,519.824545,59245.642727
23,BROOKLYN COMMUNITY BOARD #11,1,2,2,1.454000e+04,78659.273750,0.00,0.000000,734.272500,79393.546250
22,BROOKLYN COMMUNITY BOARD #10,1,2,2,1.454000e+04,94415.908750,0.00,0.000000,347.638750,94763.547500
21,BROOKLYN COMMUNITY BOARD #1,1,2,2,1.452373e+04,90482.933750,0.00,0.000000,311.031250,90793.965000
106,MUNICIPAL WATER FIN AUTHORITY,1,18,2,9.047040e+04,87297.916154,514.50,384.625385,388.606731,88071.148269
101,MANHATTAN COMMUNITY BOARD #6,2,5,2,1.154000e+04,53469.776250,0.00,0.000000,405.892500,53875.668750
18,BRONX COMMUNITY BOARD #8,1,5,2,1.641500e+04,42772.055455,0.00,0.000000,861.099091,43633.154545
8,BRONX COMMUNITY BOARD #1,1,2,2,1.454000e+04,103461.412500,0.00,0.000000,732.400000,104193.812500
14,BRONX COMMUNITY BOARD #4,1,4,2,2.031300e+04,61005.060833,0.00,0.000000,909.509167,61914.570000
33,BROOKLYN COMMUNITY BOARD #4,1,4,2,2.048575e+04,56491.277500,0.00,0.000000,649.545000,57140.822500
143,STATEN ISLAND COMMUNITY BD #2,1,1,1,7.270000e+03,91857.807500,0.00,0.000000,2201.687500,94059.495000