## Final Project - NYC Citywide Payroll Data

### Meaghan Burke - Data 608

#### Data Source: https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e

### MAy 11th 2019

### Data Cleaning 
Steps:

1. Read in the raw_csv from the NYC Open Data website (download via link above)
2. Use script (view link below to access ipybn file) that does the following transformations:

    - Filtered for 'MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', & 'RICHMOND' boroughs

    - Filtered for full time, active employees 

    - Filtered for full year salaried employees

    - Removed null job titles

    - Removed 2014 as it is incomplete 

    - Converted all string values to uppercase & removed whitespace 

    - output the data to consolidated_table.csv & scatter_table. These are the base datasets for the dash application

In [17]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# all the filtering and data cleaning 
#filter for only per annum jobs, active employees and titles that are not null 
#del the original for memory purposes
borough_keep = ['MANHATTAN', 'QUEENS', 'BRONX', 'BROOKLYN', 'RICHMOND']
pay_dataset =  pd.read_csv("Citywide_Payroll_Data__Fiscal_Year_.csv", low_memory = False)
pay_dataset['Total Pay'] = pay_dataset[['Regular Gross Paid', 'Total OT Paid', 'Total Other Pay']].sum(axis =1 )
pay_dataset = pay_dataset.applymap(lambda s:s.upper().strip() if type(s) == str else s)
filtered_pay= pay_dataset[(pay_dataset['Pay Basis'] == 'PER ANNUM') & 
                          (pay_dataset['Leave Status as of June 30'] == 'ACTIVE') &
                          (~pay_dataset['Title Description'].isnull()) &
                          (pay_dataset['Fiscal Year'] != 2014) &
                          (pay_dataset['Work Location Borough'].isin(borough_keep))]

filtered_pay.loc[filtered_pay['Work Location Borough'].isnull(), 'Work Location Borough'] = 'UNKNOWN'
del(pay_dataset)

In [ ]:
#recreate a employee id as the Payroll Number has too many NAS, checked unqiue counts and the combination of the below columns is unqiue to each employee
#https://stackoverflow.com/questions/48008334/anonymize-specific-columns-with-pii-in-pandas-dataframe-python anonymize 
cols = ['Agency Name', 'Last Name', 'First Name', 'Mid Init', 'Agency Start Date', 'Pay Basis']
filtered_pay['Employee_Id'] = filtered_pay[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1).astype('category').cat.codes
filtered_pay.drop(['Last Name', 'Payroll Number', 'First Name', 'Mid Init', 'Leave Status as of June 30'], axis = 1, inplace = True)

In [11]:
calcs = {'Work Location Borough': ['nunique'],'Employee_Id':['nunique'], 'Title Description':['nunique'],
        'Regular Hours': ['sum'],'Regular Gross Paid':['mean'], 'OT Hours':['sum'],'Total OT Paid' :['mean'],'Total Other Pay':['mean'],
        'Total Pay':['mean']}
consolidated_table = filtered_pay.groupby(['Fiscal Year','Agency Name']).agg(calcs).reset_index()
consolidated_table.columns = consolidated_table.columns.droplevel(-1)
consolidated_table = consolidated_table.sort_values('Title Description', ascending = False)

In [15]:
#used in the main EDA section of the app
consolidated_table.to_csv("charting_dataset.csv")

In [13]:
calcs = {'Work Location Borough': ['nunique'],'Employee_Id':['nunique'], 'Title Description':['nunique'],
        'Regular Hours': ['mean'],'Regular Gross Paid':['mean'], 'OT Hours':['mean'],'Total OT Paid' :['mean'],'Total Other Pay':['mean'],
        'Total Pay':['mean']}

scatter_table = filtered_pay.groupby(['Agency Name']).agg(calcs).reset_index()
scatter_table.columns = scatter_table.columns.droplevel(-1)
scatter_table = scatter_table.sort_values('Title Description', ascending = False)

In [16]:
#used in the scatter plots section of the app
scatter_table.to_csv("scatter_dataset.csv")

In [4]:
#no longer used, but helpful for data validation 
filtered_pay.to_csv("filtered_nyc_payset.csv")

### Data EDA

In [87]:
filtered_pay.shape

(1113051, 14)

In [18]:
#display the unique descriptive information as a table in the dash application
unique_values = filtered_pay.groupby(['Fiscal Year']).nunique()

decribe_table = filtered_pay.describe()

unique_values

,Fiscal Year,Agency Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay,Employee_Id
Fiscal Year,,,,,,,,,,,,,,
2015,1,144,10448,5,1204,23503,1,11195,142723,25454,113948,110680,224996,264153
2016,1,144,10583,5,1206,23997,1,11749,129511,26704,114971,115618,213897,274049
2017,1,147,10685,5,1218,24413,1,13528,131364,25970,118924,116986,221903,285158
2018,1,148,10753,5,1236,23458,1,12790,131422,25127,119840,111806,227269,289435

In [40]:
decribe_table

,Fiscal Year,Base Salary,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay,Employee_Id
count,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06,1.113051e+06
mean,2.016539e+03,6.936683e+04,1.128044e+03,6.684768e+04,1.059016e+02,5.790611e+03,3.732348e+03,7.637063e+04,1.832218e+05
std,1.115090e+00,2.716810e+04,9.422682e+02,2.906734e+04,1.862982e+02,1.113222e+04,6.205931e+03,3.632575e+04,1.041699e+05
min,2.015000e+03,1.000000e+00,-2.352500e+02,-1.871000e+02,-2.500000e+00,-2.649388e+04,-2.058165e+05,-2.422635e+04,0.000000e+00
25%,2.016000e+03,4.652000e+04,0.000000e+00,4.392921e+04,0.000000e+00,0.000000e+00,0.000000e+00,4.999988e+04,9.315900e+04
50%,2.017000e+03,6.800000e+04,1.790000e+03,6.519698e+04,0.000000e+00,0.000000e+00,4.448300e+02,7.164806e+04,1.829610e+05
75%,2.018000e+03,8.529200e+04,2.045720e+03,8.538705e+04,1.590000e+02,6.858325e+03,5.215790e+03,9.696892e+04,2.739740e+05
max,2.018000e+03,3.500000e+05,4.060920e+03,6.723089e+05,2.736670e+03,1.612902e+05,9.596096e+04,6.727313e+05,3.614010e+05

In [19]:
consolidated_table

,Fiscal Year,Agency Name,Work Location Borough,Employee_Id,Title Description,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Pay
407,2017,POLICE DEPARTMENT,5,50086,197,"$1,948.52","$74,786.05",$225.95,"$14,596.83","$10,450.52","$99,833.40"
250,2016,NYC HOUSING AUTHORITY,5,8037,196,"$1,891.26","$53,301.71",$122.07,"$4,434.85","$1,852.54","$59,589.10"
555,2018,POLICE DEPARTMENT,5,50821,196,"$1,952.28","$70,258.92",$221.43,"$13,471.15","$10,011.87","$93,741.94"
358,2017,DEPT OF HEALTH/MENTAL HYGIENE,5,5058,195,"$1,672.91","$65,008.52",$39.45,"$1,617.07","$2,559.10","$69,184.69"
505,2018,DEPT OF HEALTH/MENTAL HYGIENE,5,5326,194,"$1,699.66","$66,243.00",$33.65,"$1,390.74","$2,544.47","$70,178.21"
260,2016,POLICE DEPARTMENT,5,49174,192,"$1,994.98","$68,615.07",$241.55,"$13,816.83","$9,709.84","$92,141.74"
116,2015,POLICE DEPARTMENT,5,48037,190,"$2,005.76","$66,589.71",$261.24,"$14,103.69","$9,573.57","$90,266.97"
545,2018,NYC HOUSING AUTHORITY,5,7800,186,"$1,859.74","$52,151.27",$144.99,"$5,133.00","$1,849.45","$59,133.71"
397,2017,NYC HOUSING AUTHORITY,5,8084,186,"$1,835.24","$51,400.65",$133.05,"$4,636.52","$1,815.13","$57,852.29"
69,2015,DEPT OF HEALTH/MENTAL HYGIENE,5,4233,182,"$1,751.47","$63,326.94",$55.20,"$2,000.61","$3,806.99","$69,134.54"
106,2015,NYC HOUSING AUTHORITY,5,8404,178,"$1,853.69","$48,521.91",$120.63,"$3,775.57","$2,616.04","$54,913.52"
213,2016,DEPT OF HEALTH/MENTAL HYGIENE,5,4381,173,"$1,683.62","$61,083.26",$53.57,"$2,010.39","$2,906.80","$66,000.44"
522,2018,HRA/DEPT OF SOCIAL SERVICES,5,12819,162,"$1,705.12","$52,665.03",$69.82,"$2,668.07","$3,283.63","$58,616.74"
375,2017,HRA/DEPT OF SOCIAL SERVICES,5,13081,160,"$1,725.66","$53,035.85",$70.96,"$2,695.83","$3,162.71","$58,894.39"
495,2018,DEPARTMENT OF EDUCATION ADMIN,5,11296,154,"$1,662.74","$64,063.15",$21.86,"$1,126.92","$2,639.63","$67,829.70"
348,2017,DEPARTMENT OF EDUCATION ADMIN,5,11014,150,"$1,682.20","$64,370.01",$22.50,"$1,071.65","$2,519.67","$67,961.32"
212,2016,DEPT OF ENVIRONMENT PROTECTION,5,3055,149,"$1,748.47","$65,713.12",$126.44,"$5,507.80","$2,733.98","$73,954.90"
59,2015,DEPARTMENT OF EDUCATION ADMIN,5,10085,146,"$1,679.89","$59,269.82",$21.58,$886.97,"$3,093.86","$63,250.64"
353,2017,DEPARTMENT OF TRANSPORTATION,5,3550,146,"$1,753.13","$65,176.62",$192.23,"$10,293.92","$2,807.32","$78,277.86"
68,2015,DEPT OF ENVIRONMENT PROTECTION,5,2995,146,"$1,773.01","$66,853.11",$119.38,"$5,156.46","$3,660.35","$75,669.92"
230,2016,HRA/DEPT OF SOCIAL SERVICES,5,13053,146,"$1,758.45","$49,840.27",$61.52,"$2,148.35","$2,912.91","$54,901.53"
500,2018,DEPARTMENT OF TRANSPORTATION,5,3627,146,"$1,754.84","$65,119.87",$182.18,"$9,854.80","$2,920.59","$77,895.26"
203,2016,DEPARTMENT OF EDUCATION ADMIN,5,10686,146,"$1,673.16","$58,754.13",$21.21,$924.44,"$2,266.85","$61,945.42"
504,2018,DEPT OF ENVIRONMENT PROTECTION,5,3171,146,"$1,730.80","$70,497.73",$103.38,"$5,038.97","$2,999.24","$78,535.95"
86,2015,HRA/DEPT OF SOCIAL SERVICES,5,13245,145,"$1,751.10","$50,305.67",$51.80,"$1,867.30","$3,812.98","$55,985.95"
357,2017,DEPT OF ENVIRONMENT PROTECTION,5,3121,140,"$1,773.86","$71,325.61",$125.60,"$5,895.53","$2,767.18","$79,988.32"
208,2016,DEPARTMENT OF TRANSPORTATION,5,3382,139,"$1,753.90","$61,193.76",$214.67,"$10,838.42","$3,070.84","$75,103.02"
64,2015,DEPARTMENT OF TRANSPORTATION,5,3263,135,"$1,791.31","$61,502.62",$229.72,"$11,182.53","$3,650.78","$76,335.93"
519,2018,FIRE DEPARTMENT,5,16753,131,"$1,985.57","$72,846.14",$300.04,"$18,811.85","$11,017.69","$102,675.68"
435,2018,ADMIN FOR CHILDREN'S SVCS,5,6502,129,"$1,650.03","$59,768.02",$193.01,"$8,811.96","$2,636.88","$71,216.86"
...,...,...,...,...,...,...,...,...,...,...,...
284,2016,STATEN ISLAND COMMUNITY BD #3,1,3,2,"$1,830.00","$66,725.98",$0.00,$0.00,$430.57,"$67,156.55"
26,2015,BROOKLYN COMMUNITY BOARD #14,1,2,2,"$1,825.00","$77,923.05",$0.00,$0.00,"$1,000.00","$78,923.05"
138,2015,STATEN ISLAND COMMUNITY BD #1,1,3,2,"$1,825.00","$64,950.29",$0.00,$0.00,"$1,575.79","$66,526.08"
306,2017,BRONX COMMUNITY BOARD #8,1,3,2,"$1,296.67","$36,368.32",$0.00,$0.00,$705.48,"$37,073.81"
304,2017,BRONX COMMUNITY BOARD #6,1,2,2,"$1,750.00","$58,417.36",$0.00,$0.00,$8.50,"$58,425.86"
461,2018,BROOKLYN COMMUNITY BOARD #14,1,2,2,"$1,790.00","$82,030.65",$0.00,$0.00,$310.19,"$82,340.85"
310,2017,BROOKLYN COMMUNITY BOARD #10,1,2,2,"$1,825.00","$98,497.90",$0.00,$0.00,$94.59,"$98,592.49"
456,2018,BROOKLYN COMMUNITY BOARD #1,1,2,2,"$1,790.00","$91,126.62",$0.00,$0.00,$153.12,"$91,279.74"
457,2018,BROOKLYN COMMUNITY BOARD #10,1,2,2,"$1,790.00","$95,917.51",$0.00,$0.00,$295.96,"$96,213.48"
458,2018,BROOKLYN COMMUNITY BOARD #11,1,2,2,"$1,790.00","$79,846.60",$0.00,$0.00,$648.18,"$80,494.77"
459,2018,BROOKLYN COMMUNITY BOARD #12,1,2,2,"$1,790.00","$72,628.53",$0.00,$0.00,$41.25,"$72,669.78"
311,2017,BROOKLYN COMMUNITY BOARD #11,1,2,2,"$1,825.00","$81,119.92",$0.00,$0.00,$492.22,"$81,612.14"
312,2017,BROOKLYN COMMUNITY BOARD #12,1,3,2,"$1,825.00","$61,563.67",$0.00,$0.00,$347.40,"$61,911.07"
463,2018,BROOKLYN COMMUNITY BOARD #16,1,2,2,"$1,790.00","$74,246.19",$0.00,$0.00,$341.25,"$74,587.44"
309,2017,BROOKLYN COMMUNITY BOARD #1,1,2,2,"$1,825.00","$93,595.68",$0.00,$0.00,$91.00,"$93,686.68"
170,2016,BROOKLYN COMMUNITY BOARD #14,1,2,2,"$1,830.00","$76,285.12",$0.00,$0.00,$0.00,"$76,285.12"
453,2018,BRONX COMMUNITY BOARD #8,1,3,2,"$1,216.67","$33,421.98",$0.00,$0.00,$510.56,"$33,932.54"
466,2018,BROOKLYN COMMUNITY BOARD #2,1,2,2,"$1,790.00","$51,340.90",$0.00,$0.00,$277.88,"$51,618.78"
25,2015,BROOKLYN COMMUNITY BOARD #13,1,1,1,"$1,825.00","$67,698.54",$0.00,$0.00,"$1,797.68","$69,496.22"
283,2016,STATEN ISLAND COMMUNITY BD #2,1,1,1,"$1,830.00","$88,637.07",$0.00,$0.00,"$2,443.70","$91,080.77"
19,2015,BRONX COMMUNITY BOARD #9,1,1,1,"$1,825.00","$49,433.24",$0.00,$0.00,"$1,000.00","$50,433.24"
578,2018,STATEN ISLAND COMMUNITY BD #2,1,1,1,"$1,790.00","$92,447.57",$0.00,$0.00,"$1,500.00","$93,947.57"
307,2017,BRONX COMMUNITY BOARD #9,1,1,1,"$1,825.00","$100,961.73",$0.00,$0.00,$0.00,"$100,961.73"
430,2017,STATEN ISLAND COMMUNITY BD #2,1,1,1,"$1,825.00","$94,952.35",$0.00,$0.00,"$2,654.25","$97,606.60"
139,2015,STATEN ISLAND COMMUNITY BD #2,1,1,1,"$1,825.00","$91,394.24",$0.00,$0.00,"$2,208.80","$93,603.04"
178,2016,BROOKLYN COMMUNITY BOARD #5,1,1,1,"$1,830.00","$34,271.98",$0.00,$0.00,$16.50,"$34,288.48"
326,2017,BROOKLYN COMMUNITY BOARD #9,1,1,1,$652.73,"$10,329.89",$0.00,$0.00,$215.00,"$10,544.89"
10,2015,BRONX COMMUNITY BOARD #11,1,1,1,"$1,825.00","$72,415.41",$0.00,$0.00,"$1,422.29","$73,837.70"
303,2017,BRONX COMMUNITY BOARD #5,1,1,1,"$1,825.00","$39,756.27",$0.00,$0.00,$116.45,"$39,872.72"
389,2017,MANHATTAN COMMUNITY BOARD #6,1,1,1,"$1,825.00","$84,790.85",$0.00,$0.00,$0.00,"$84,790.85"